<!DOCTYPE html>
<html>
  <head>
    <title>Sceduler</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="POST" action="/users">
      <input type="datetime-local" value='<%= start %>' placeholder="Deadline" name="deadline"><br>
      <input type="number" value="1" placeholder="Hours" name="hours"><br>
      <input type="text" placeholder="Name" name="name"><br>
      <input type="submit">  
    </form>
  </body>
</html>
