<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Resume - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <!-- Custom styles for this template -->
  <link href="/css/resume.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Clarence Taylor</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/images/logo.png" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/users">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/users/settings">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/users/contribute">Contribute</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/logout">Logout</a>
        </li>

      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <table class="w3-table-all">
      <thead>

        <tr class="w3-green">
          <th>Date</th>
          <th>Task name</th>
          <th>Timing</th>
        </tr>
      </thead>
      <%
            var temp=new Date();
            var tomorrow = new Date(temp.toLocaleDateString("en-US"));
            var options = {  year: 'numeric', month: 'long', day: 'numeric' };

            %>
      <% for(var i=0; i<15; i++,tomorrow.setDate(tomorrow.getDate() + 1)) {%>
      <tr>
        <td>
          <%=tomorrow.toLocaleDateString("en-US",options)%>
        </td>
        <td>
          <% for(var j=0; j<user.fixed.length; j++) {
            let x= tomorrow;
            if(tomorrow.getTime()<=(new Date(user.fixed[j][1])).getTime()){
              x.setDate(tomorrow.getDate() + 1);

              if((new Date(user.fixed[j][0])).getTime()<=x.getTime()){
              %>
          <%=user.fixed[j][2]%><br>
          <%
              
            }
            x.setDate(tomorrow.getDate() -1);
          }
           } %>
          <% for(var j=0; j<user.deadline.length; j++) {
            let x= tomorrow;
            if(tomorrow.getTime()<=(new Date(user.deadline[j][0])).getTime()){
            x.setDate(tomorrow.getDate() + 1);
            if((new Date(user.deadline[j][0])).getTime()<=x.getTime()){
              %>
          <%=user.deadline[j][2]%><br>
          <%

            }
            x.setDate(tomorrow.getDate() -1);
  
          }
           } %>
        </td>
        <td>
            <% for(var j=0; j<user.fixed.length; j++) {
              let x= tomorrow;
              if(tomorrow.getTime()<=(new Date(user.fixed[j][1])).getTime()){
                x.setDate(tomorrow.getDate() + 1);
  
                if((new Date(user.fixed[j][0])).getTime()<=x.getTime()){
                %>
            Fixed<br>
            <%
                
              }
              x.setDate(tomorrow.getDate() -1);
            }
             } %>
            <% for(var j=0; j<user.deadline.length; j++) {
              let x= tomorrow;
              if(tomorrow.getTime()<=(new Date(user.deadline[j][0])).getTime()){
              x.setDate(tomorrow.getDate() + 1);
              if((new Date(user.deadline[j][0])).getTime()<=x.getTime()){
                %>
            Deadline<br>
            <%
  
              }
              x.setDate(tomorrow.getDate() -1);
    
            }
             } %>

        </td>
      </tr>
      <% } %>
    </table>
  </div>
  <div class="round-button"><div class="round-button-circle"><a href="/combo" class="round-button">+</a></div></div>

<style>
  .round-button {
    right: 0;
    bottom: 0;
    position: fixed;
    width:15vh;
    height: 15vh;;
}
.round-button-circle {
  position: relative;
  width: 50%;
  height:50%;
  padding-bottom:50%;
  border-radius: 50%;
        
  background: rgb(218, 1, 1); 
}
.round-button-circle:hover {
  background:#30588e;
}
.round-button a {
  position: relative;
  display:block;
  float:left;
  width:100%;
  padding-top:47%;
  padding-bottom:30%;
  line-height:1em;
  margin-top:-0.5em;
        
  opacity: 1;
  text-align:center;
  color:#e6d4d4;
  font-family:Verdana;
  font-size:2.5em;
  font-weight:bold;
  text-decoration:none;
}

  </style>
  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/js/resume.min.js"></script>

</body>

</html>