<!DOCTYPE html>
<html>
  <head>
    <title>Sceduler</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="POST" action="/login">
      <input type="text" placeholder="Username" name="user"><br>
      <input type="password" placeholder="Password" name="pass"><br>

      <input type="submit">  
    </form>
  </body>
</html>
