<!DOCTYPE html>
<html>
  <head>
    <title>Sceduler</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="POST" action="/users">
      <input type="text" placeholder="Start" name="start"><br>
      <input type="text" placeholder="End" name="end"><br>

      <input type="submit">  
    </form>
  </body>
</html>
