<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Sceduler</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form class="login100-form validate-form" method="POST" action="/users/signup">
      <input type="text" placeholder="Username" name="user"><br>
      <input type="password" placeholder="Password" name="pass"><br>
      <input type="email" name="email" placeholder="Email" required style="width: 19vw" style="width: 19vw" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.com">
      <input type="submit">  
    </form>
  </body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Kronos</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
        <form class="login100-form validate-form" method="POST" action="/users/signup">
					<span class="login100-form-title p-b-70">
						Signup
					</span>
					<span class="login100-form-avatar">
						<img src="images/logo.png" alt="AVATAR">
					</span>

					<div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter username">
						<input class="input100" type="text" name="user">
						<span class="focus-input100" data-placeholder="Username"></span>
					</div>
          
          <div class="wrap-input100 validate-input  m-b-50" data-validate = "Enter Email">
            <input class="input100" type="email" name="email" style="width: 19vw" style="width: 19vw" >
						<span class="focus-input100" data-placeholder="Email"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-50" data-validate="Enter password" style="margin-bottom:10px">
						<input class="input100" type="password" name="pass" id="passing" onkeydown="passwordStrength()">
						<span class="focus-input100" data-placeholder="Password"></span>

						<script>
						

							function  maximum(a,b)
						{
							if (a>b)
								return a
							else
								return b
						}

							function string_match(first, second, percent)
						{
							if (first === null ||
								second === null ||
								typeof first === 'undefined' ||
								typeof second === 'undefined') {
								return 0
							}

							first += ''
							second += ''

							var pos1 = 0
							var pos2 = 0
							var max = 0
							var Lf = first.length
							var Ls = second.length
							var i
							var j
							var k
							var sum
							for (i=0; i<Lf; i++)
							{
								for(j=0; j<Ls; j++)
								{
									for(k=0; (i+k < Lf) && (j+k < Ls) && (first.charAt(i+k) === second.charAt(j+k)); k++)
									{}
									if (k > max)
									{
										max=k
										pos1=i
										pos2=j
									}
								}
							}
							sum=max
							if(sum)
							{
								if(pos1 && pos2)
								{
									sum+= string_match(first.substr(0,pos1), second.substr(0,pos2))
								}
								if ((pos1 + max < Lf) && (pos2+max < Ls))
								{
									sum+=string_match(first.substr(pos1+max, Lf-pos1-max), second.substr(pos2+max, Ls-pos2-max))
								}
							}
							if(!percent)
							{
								return sum
							}
							return (sum*200)/(Lf+Ls)
						}
							function passwordStrength(){
							console.log(document.getElementById('passing').value);
							var dict=["123456","123456789","qwerty","12345678","111111","1234567890","1234567","password","123123","987654321","qwertyuiop","mynoob","123321","666666","18atcskd2w","7777777","1q2w3e4r","654321","555555","3rjs1la7qe", "google","1q2w3e4r5t","123qwe","zxcvbnm","1q2w3e"]
						var len = dict.length
						var strength = {
							0: "Worst",
							1: "Bad",
							2: "Weak",
							3: "Good",
							4: "Strong"
						  }
							//common passwords
							var tmp = 0
							var meter_val = 0;
						let pass=document.getElementById('passing').value;
							for(var i = 0;i<len;i++)
							{
								tmp = maximum(string_match(dict[i],pass,true),tmp)
								tmp = maximum(string_match(pass,dict[i],true),tmp)
							}
							var meter = document.getElementById('password-strength-meter');
							var text = document.getElementById('password-strength-text');
							var warning = document.getElementById('warning-text');

							var meter1 = document.getElementById('meter-red');
							var meter2 = document.getElementById('meter-yellow');
							var meter3 = document.getElementById('meter-orange');
							var meter4 = document.getElementById('meter-green');
							// Update the password strength meter
						
							if(pass.length < 6)
							{
								meter.value = 0;
								text.innerHTML = "";
								warning.innerHTML = "Passwords must be at least 6 characters long.";
								meter1.style.background = "whitesmoke";
								meter2.style.background = "whitesmoke";
								meter3.style.background = "whitesmoke";
								meter4.style.background = "whitesmoke";
							}
							else
							{
								tmp=tmp+40-pass.length*4;
								if(tmp >= 80)
								{
									meter_val = 1;
									meter1.style.backgroundColor = "red";
									meter2.style.background = "whitesmoke";
									meter3.style.background = "whitesmoke";
									meter4.style.background = "whitesmoke";
								}
								else if(tmp >= 60 && tmp < 80)
								{
									meter_val = 2;
									meter1.style.background = "yellow";
									meter2.style.background = "yellow";
									meter3.style.background = "whitesmoke";
									meter4.style.background = "whitesmoke";
								}
								else if(tmp >= 40 && tmp < 60)
								{
									meter_val = 3;
									meter1.style.background = "orange";
									meter2.style.background = "orange";
									meter3.style.background = "orange";
									meter4.style.background = "whitesmoke";
								}
								else
								{
									meter_val = 4;
									meter1.style.background = "green";
									meter2.style.background = "green";
									meter3.style.background = "green";
									meter4.style.background = "green";
								}
								meter.value = meter_val;
								text.innerHTML = "STRENGTH: " + "<strong>" + strength[meter.value];
								warning.innerHTML = "";
							}
							if(meter_val<3){
								console.log("hi");

								document.getElementById("submit").disabled=true;
							}else{
								document.getElementById("submit").disabled=false;
							}
						}
						</script>
					</div>
						<meter max="4" id="password-strength-meter">
							<div id="meter-gauge">
									<div id="meter-red" style="width: 25%; float:left"></div>
									<div id="meter-yellow" style="width: 25%; float:left"></div>
									<div id="meter-orange" style="width: 25%; float:left"></div>
									<div id="meter-green" style="width: 25%; float:left"></div>
									<div style="clear: both;"></div>
							</div>
						</meter>
						<style>
							meter {
								/* Reset the default appearance */
								-webkit-appearance: none;
								-moz-appearance: none;
										appearance: none;
										
								margin: 0 auto 1em;
								width: 100%;
								height: .5em;
								
								/* Applicable only to Firefox */
								background: none;
								background-color: rgba(0,0,0,0.1);
							}

							meter::-webkit-meter-bar {
								background: none;
								background-color: rgba(0,0,0,0.1);
							}

							meter[value="1"]::-webkit-meter-optimum-value { background: red; }
							meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
							meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
							meter[value="4"]::-webkit-meter-optimum-value { background: green; }

							meter[value="1"]::-moz-meter-bar { background: red; }
							meter[value="2"]::-moz-meter-bar { background: yellow; }
							meter[value="3"]::-moz-meter-bar { background: orange; }
							meter[value="4"]::-moz-meter-bar { background: green; }

							#warning-text{
								color: red;
							}

							#password-strength-check{
								color: rgb(9, 9, 172);
							}

							#meter-gauge {
								border: 1px solid #ccc;
								border-radius: 3px;
								box-shadow: 0 5px 5px -5px #333 inset;
								margin: 0 auto 1em;
								width: 100%;
								height: .5em;
								display: block;
							}

							#meter-gauge > span {
								margin: 0 auto 1em;
								width: 100%;
								height: .5em;    
								background-size: 100% 100%;
								display: block;
								text-indent: -9999px;
								background: linear-gradient(to right, whitesmoke 100%);
							}

							#meter-red{
								background-color: whitesmoke;
								height: .5em;
							}
							#meter-yellow{
								background-color: whitesmoke;
								height: .5em;
							}
							#meter-orange{
								background-color: whitesmoke;
								height: .5em;
							}
							#meter-green{
								background-color: whitesmoke;
								height: .5em;
							}
						</style>
						<p id="warning-text"></p>
						<p id="password-strength-text"></p>
					<div class="container-login100-form-btn" style="margin-top:20px">
						<button class="login100-form-btn" id="submit">
							Signup
						</button>
					</div>

					<ul class="login-more p-t-190">
						<li>
							<span class="txt1">
								Already have an account?
							</span>

							<a href="/" class="txt2">
								Log in
							</a>
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>