<!DOCTYPE html>
<html>
  <head>
    <title>Sceduler</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="POST" action="/users/signup">
      <input type="text" placeholder="Username" name="user"><br>
      <input type="password" placeholder="Password" name="pass"><br>
      <input type="email" name="email" placeholder="Email" required style="width: 19vw" style="width: 19vw" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.com">
      <input type="submit">  
    </form>
  </body>
</html>
